@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Hammersmith+One&display=swap');

body {
    background-color: #A9BD93;
    font-family: "Hammersmith One", sans-serif;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'left right';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 600px;
    width: 1300px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.img {
    grid-area: left;
    margin: 50px;
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.grid {
    padding: 50px 50px 50px 0px;
    grid-area: right;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title {
    margin: 0px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 42px;
    color: black;
}

.description {
    padding: 15px 0px 0px 0px;
    margin: 0px;
    font-size: 24px;
    color: black;
} 

.infoGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.ingTitle {
    margin: 0px;
    font-size: 20px;
    color: black;
}

.ingredients {
    font-size: 16px;
    color: black;
}

.instTitle {
    margin: 0px;
    font-size: 20px;
    color: black;
}

.instructions {
    font-size: 16px;
    color: black;
}